In [155]:
import pandas as pd

In [156]:
df=pd.read_csv(r"C:\Users\sande\Downloads\customer_data.csv")

In [157]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",10-02-2025,Silver
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",18-04-2024,Bronze
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",16-05-2024,Gold
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",10-12-2024,Bronze

In [158]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [159]:
df['customer_id'].duplicated

<bound method Series.duplicated of 0         1
1         2
2         3
3         4
4         5
       ...
995     996
996     997
997     998
998     999
999    1000
Name: customer_id, Length: 1000, dtype: int64>

In [160]:
df['customer_id'].nunique()

1000

In [161]:
# if there are duplicates, you can drop them using
df=df.drop_duplicates(subset=['customer_id'],keep='first')

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [163]:
'''we found that there are null values in email,
so we replace null values with name@email.com'''

'we found that there are null values in email,\nso we replace null values with name@email.com'

In [164]:
df['email']=df.apply(lambda row:f"{row['name'].lower().replace(' ','_')}@email.com" if pd.isnull(row['email']) else row['email'],axis=1)

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [166]:
'''so we have replaced null emails, then we again see that phone number is also null'''

'so we have replaced null emails, then we again see that phone number is also null'

In [167]:
df['phone']=df.apply(lambda row:'000-000-0000' if pd.isnull(row['phone']) else row['phone'],axis=1)

In [168]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [169]:
#so we have replaced all null values, now lets check for incorrect data, like any incorrect emails

In [170]:
df['email_check']=df['email'].astype(str).str.match(r'^[a-zA-Z0-9._]+@[a-z]+\.[a-z]{2,}$',na=False)

In [171]:
df['email_check']

0      True
1      True
2      True
3      True
4      True
       ...
995    True
996    True
997    True
998    True
999    True
Name: email_check, Length: 1000, dtype: bool

In [172]:
df['email_check'].value_counts()

email_check
True    1000
Name: count, dtype: int64

In [173]:
#since all the flags are true, we can move further, but drop that extra flag column
df.drop(columns=['email_check'],inplace=True)

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [175]:
# now lets do the same for phone
df['phone_check']=df['phone'].astype(str).str.match(r'^\d{3}-\d{3}-\d{4}$',na=False)

In [176]:
df['phone_check'].value_counts()

phone_check
True     994
False      6
Name: count, dtype: int64

In [177]:
df.loc[df['phone_check'] == False, 'phone'] = df.loc[df['phone_check'] == False, 'phone'].astype(str).str.replace(r'[\(\)]', '', regex=True)

In [180]:
df.loc[df['phone_check'] == False, 'phone']

289    309-515-738521e
296                  e
444       899-580-4497
489       287-336-5505
525        96-625-8031
526                  0
Name: phone, dtype: object

In [181]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status,phone_check
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold,True
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver,True
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze,True
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold,True
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold,True
...,...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",10-02-2025,Silver,True
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",18-04-2024,Bronze,True
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze,True
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",16-05-2024,Gold,True
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",10-12-2024,Bronze,True

In [182]:
df.to_csv('Cleaned_customer.csv',index=False)